<article>
    <h1>{{show.name}}</h1>
    <img src={{show.image.medium}} alt="NO IMAGE"> 
    <dl>
        <dt>Language:</dt>
            <dd> {{show.language}}</dd>
        <dt>Genres:</dt>
        <dd><ul>
        {{#each show.genres}}
            <li>{{this}}</li>
        {{/each}}
        </ul></dd>
        <dt>Rating:</dt>
            <dd>{{show.rating.average}}</dd>
        <dt>Network Name:</dt>
            <dd>{{show.network.name}}</dd>
        <dt>Summary:</dt>
            <dd>{{{show.summary}}}</dd>
    </dl>
</article>